@charset "utf-8";
/* responsive web design */


@media screen and (max-width: 1170px) {
    .row {
        margin: 0 20px;
    }

    .topmenu .login {
        /* position: absolute;
        top: 0;
        right: 10px;
        color: #000; */
    }
}

@media screen and (max-width: 992px) {
    .topmenu .search_box {
        position: absolute;
        top: 0;
        right: 64%;
    }
    .logoNav {        
        height: auto;
        /* position: relative; */
        text-align: center;
        /* background-color: #fff; */
    }

    .logoNav h1 {
        /* color: #ffae3d;
        font-size: 26.25px;
        line-height: 76px;
        font-weight: bold; */
        display: block;
        padding: 24.875px 0 0;
    }
    
    .logoNav .nav {
        position: static;
        /* top: 0;
        right: 0; */
    }

    .logoNav .nav .depth1>li {
        font-size: 15.75px;
    }
}

/* @media screen and (max-width: 768px) { */
@media screen and (max-width: 861px) {
    .topmenu .login {
        display: none;
    }
    .topmenu .search_box {
        position: absolute;
        top: 0;
        right: 0; 
    }
    .logoNav h1 {
        display: block;
        padding: 30px 0;
    }
    .logoNav .open_nav {
        display: block;
    }
    .logoNav .close_nav {
        /* display: block; */
    }   
    .logoNav .nav {
        position: static;
        display: none;
    }
} 